<h2 class="title">New Ram Product</h2>
<form action="/ram/new" class="form" method="POST">
    <div class="form__group">
        <label for="name" class="form__group__label">Ram Model</label>
        <input type="text" class="form__group__input" name="name" required="true">
    </div>
    <div class="form__group">
        <label for="supplier" class="form__group__label">Supplier (Brand)</label>
        <input type="text" class="form__group__input" name="supplier" required="true">
    </div>
    <div class="form__group">
        <label for="speed" class="form__group__label">Frequency</label>
        <input type="number" class="form__group__input" name="speed" required="true">
    </div>
    <div class="form__group">
        <label for="amount" class="form__group__label">Amount</label>
        <input type="number" class="form__group__input" name="amount" required="true">
    </div>
    <div class="form__nav">
        <a href="/motherboards" class="form__nav__cancel">Cancel</a>
        <input class="form__nav__submit" type="submit" value="Create">
    </div>
</form>