<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preload stylesheet" as="style" href="/stylesheets/style.css" />
    <title>{{ title }}</title>
  </head>
  <body>
    <header class="header">
      <nav class="nav">
        <a href="/" class="nav__logo-link">Computer Parts R' Us</a>
        <ul class="nav__list">
          <li class="nav__item">
            <a href="/cpus" class="nav__item__link">CPUs</a>
          </li>
          <li class="nav__item">
            <a href="/gpus" class="nav__item__link">GPUs</a>
          </li>
          <li class="nav__item">
            <a href="/motherboards" class="nav__item__link">Motherboards</a>
          </li>
          <li class="nav__item">
            <a href="/ram" class="nav__item__link">RAM</a>
          </li>
        </ul>
      </nav>
    </header>
    {{{ body }}}
  </body>
</html>
