* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

.header {
  padding: 2rem 2.5rem;
  background-color: #2c5282;
  box-shadow:
    0 2px 4px rgba(0, 0, 0, .35),
    0 5px 7px rgba(0, 0, 0, .15);
  color: #fff;
}

.header a {
  text-decoration: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.nav__logo-link {
  font-size: 2rem;
  color: #ebf4ff;
}

.nav__list {
  list-style: none;
  display: flex;
}

.nav__item {
  margin: 0 .25rem;
}

.nav__item__link {
  display: inline block;
  padding: .5rem;
  color: #fff;
}

.wrapper {
  width: 70rem;
  max-width: 92.5%;
  margin: 3rem auto;
}

.list-title {
  text-align: center;
}

.list-link {
  display: block;
  text-align: center;
}

.main-index__title {
  margin: 3rem 0;
  text-align: center;
}

.main {
  margin: 3rem auto;
  width: 50rem;
  max-width: 92.5%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  grid-gap: 1.5rem;
}

.article {
  padding: 2rem;
  background-color: hsl(214, 32%, 92%);
  box-shadow: 0 6px 10px rgba(0, 0, 0, .175);
  border-radius: 10px;
}

.article__title {
  margin-bottom: .5rem;
}

.form {
  width: 40rem;
  max-width: 92.5%;
  margin: 3rem auto;
}

.form__group {
  display: flex;
  flex-direction: column;
}

.form__group {
  margin-top: 1.5rem;
}

.form__group__label {
  margin-bottom: .25rem;
}

.form__group__input {
  padding: .35rem .5rem;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  background-color: #e2e8f0;
}

.form__nav {
  margin-top: 2rem;
}

.form__nav__cancel {
  color: #444;
  margin-right: 1rem;
}

.form__nav__submit {
  padding: .6rem 1.75rem;
  border: none;
  border-radius: 4px;
  background: linear-gradient(to right, #4776e6, #8e54e9);
  box-shadow: 0 4px 8px rgba(71, 118, 230, .35);
  color: #fff;
  font-size: .95rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .06em;
  cursor: pointer;
}

/* Delete Item */
.form-delete {
  margin-top: 1rem;
}

.form-delete__submit {
  padding: .5rem 1.5rem;
  background-color: hsl(214, 20%, 71%);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: .06em;
}

/* Update Item */
.form-delete__update-link {
  margin-left: .75rem;
  color: #2D3748;
  text-transform: uppercase;
  font-size: .95rem;
}

@media screen and (max-width: 43.75em) {
  .header {
    text-align: center;
  }

  .nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }

  .nav__logo-link {
    font-size: 1.65rem;
  }
  
  .nav__list {
    margin-top: 1rem;
  }

}