<h2>Here is the GPU section</h2>
<a href="/gpus/new">Add a new GPU</a>

<main class="main">
{{#each gpus}}
    <article class="article">
        <h3 class="article__title">{{ this.supplier }} {{ this.name }}</h3>
        <section class="article__description">
            <p>Max Boost: {{ this.clockspeed }} MHz</p>
            <p>Total Video Memory: {{ this.vram }} GB</p>
        </section>
    </article>
{{/each}}
</main>
